[alias]
	co = checkout
	st = status
	cm = commit
	br = branch
	cg = config
[user]
	naem = YoshinoriYamaguchi
	email = b1518292@planet.kanazawa-it.ac.jp
[core]
	editor = nvim -c \"set fenc=utf-8\"
	excludesfile = /Users/nekoyashiki26/.gitignore
[http]
	sslVerify = false
	proxy = http://wwwproxy.kanazawa-it.ac.jp:8080
[https]
[url "https://"]
[https]
[url "https://"]
[credential]
	helper = osxkeychain
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
[url "https://"]
[https]
	proxy = http://wwwproxy.kanazawa-it.ac.jp:8080
[url "https://"]
	insteadOf = git://
