'.platform-linux atom-workspace atom-text-editor:not([mini])':
  # atom editor --------
  'ctrl-shift-enter': 'editor:newline-above'
  # maximize-panesのパッケージがこのキー設定をオーバーライドしてくるので、ここで設定し直してます。

  'ctrl-i': 'editor:indent-selected-rows'
  'ctrl-o': 'editor:outdent-selected-rows'
  # インデントとアウトデントの設定です。デフォルトの物が上手く動かなかったので、このキーに設定してみました。
  # 慣れると結構使い勝手が良くて、手前味噌ですが中々おすすめですｗ

  'ctrl-shift-up': 'my:move-line-up'
  'ctrl-shift-down': 'my:move-line-down'
  # これはSublimeTextの影響ですねｗ
  # それとラインを操作する系は「ctrl-shift」を使うって決まってる方が、複製した後に移動とかが楽で良いかなーって思います。
  # 追記:2015/12/22-詳細は下記の「カスタム設定：行移動時のオートインデントをオフ」にするをご覧下さい。

  'alt-n': 'window:focus-next-pane'
  'alt-shift-n': 'window:focus-previous-pane'
  # これも使い勝手的な意味で「alt」を使う事によって、Paneを移動した後に続けて「alt-1,2,3...」等でタブ移動が出来るのでこの設定にしています。

  'alt-a': 'find-and-replace:select-all'
  # これも修正系ですね。デフォルトのキーが使えなかったので、意味的にも分かり易そうなこのキーに設定しています。

  # maximize-panes --------
  'alt-shift-enter': 'maximize-panes:maximize'
  # 上で書きましたがデフォルトの「ctrl-shift-enter」は別の物に使いたいので、似たような感じのこのキー設定にしています。

# autocomplete --------
'.platform-linux atom-workspace atom-text-editor:not([mini]).autocomplete-active':
  'up': 'my:move-up'
  'down': 'my:move-down'
  # この設定については直ぐ下の所で詳しく説明します。

  'tab': 'core:move-down'
  'shift-tab': 'core:move-up'
  # オートコンプリートの候補をタブで移動出来る様にする為の設定です。
  # この設定には追加で「autocomplete-plusの設定＞confirmCompletion: "enter"」を設定する必要があります。

'atom-workspace atom-text-editor':
  'ctrl-shift-w': 'editor:select-word'
  'ctrl-0':'tree-view:toggle-focus'
